.mobile {
    margin-top: 26px;
    background-color: #f5f5f5;
}

.mobile-header {
    position: relative;
    padding-top: 22px;
}

.mobile-header h3 {
    height: 58px;
    line-height: 58px;
    font-size: 20px;
    font-weight: 400;
    color: #333;
}

.mobile-header .mobile-more {
    position: absolute;
    right: 0;
    top: 22px;
    height: 58px;
    line-height: 58px;
}

.mobile-header .mobile-more a {
    font-size: 16px;
    color: #424242;
    transition: all .4s;
}

.mobile-header .mobile-more a:hover {
    color: #ff6700;
}

.mobile-header .mobile-more a:hover .icon{
    background-color: #ff6700;
}

.mobile-header .mobile-more .icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px; 
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #b0b0b0;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    transition: all .4s;
}

.mobile-left {
    float: left;
    margin-bottom: 14px;
}

.mobile-left a {
    display: block;
    width: 234px;
    height: 100%;
    transition: all .4s;
}

.mobile-left a:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -2px, 0);
}

.mobile-left a img {
    display: block;
    width: 234px;
    height: 100%;
}

.mobile-right {
    height: 100%;
}

.mobile-right ul .mobile-item {
    position: relative;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px; 
    width: 234px;
    height: 300px;
    text-align: center;
    background-color: #fff;
    transition: all .2s linear;
}

.mobile-right ul .mobile-item:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0, -2px, 0);
}

.mobile-item .flag {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 20px;
    color: #fff;
    font-size: 12px;
    background-color: #83c44e;
}

.mobile-item .flag.flag-green {
    background-color: #83c44e;
}

.mobile-item .flag.flag-red {
    background-color: #e53935;
}

.mobile-item a {
    display: block;
    width: 100%;
    height: 100%;
}

.mobile-item img {
    display: block;
    margin: 20px auto 40px;
    width: 160px;
    height: 160px;
    text-align: center;
}

.mobile-item h3 {
    font-size: 14px;
    color: #212121;
}

.mobile-item p {
    padding: 0 10px;
    font-size: 12px;
    line-height: 24px;
    color: #b0b0b0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mobile-item span {
    font-size: 13px;
    line-height: 30px;
    color: #ff6700;
}

.mobile-item span em {
    font-style: normal;
    font-size: 13px;
    color: #b0b0b0;
    text-decoration: line-through;
}


.tv-sale {
    height: 120px;
    padding: 28px 0 0;
    background-color: #f5f5f5;
}

.tv-sale a {
    display: block;
    width: 100%;
    height: 120px;
}

.tv-sale a img {
    width: 100%;
    height: 120px;
}
